<html>

  <head>
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
  </head>

  <body>

    <div class="header">R-h-u-b~a~r-b</div>

    <%= yield %>

  </body> 
  
</html>